*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: white;
    color: #232538;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-imagem{
    width: 50%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 25px;
    font-size: 20px;
}

.escola-imagem{
    width: 50%;
}

.escola{
    background-image: linear-gradient(#232538, #232538);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola-div-conteudo{
    width: 50%;
    padding: 30px 30px;
    
}

.escola-título{
    padding: 24px 0;
}

.escola-texto{
    padding: 15px 0;
}